<div class="full">
    <div class="ui middle aligned center aligned grid full">
        <div class="column login-form">
            <div class="ui raised segments">
                <div class="ui inverted teal segment padding-lg">
                    <h3 class="ui header padding-small">
                         <img src="img/logo-light.png">
                    </h3>
                </div>
                <div class="ui segment">
                    <h5 class="text-darken">
                         Create a new account
                    </h5>
                    <form class="ui large form">
                        <div class="field" ng-class="(error) ? 'error' : ''">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input ng-model="data.user" type="text" name="email" placeholder="Email address">
                            </div>
                        </div>
                        <div class="field" ng-class="(error.code.indexOf('email') > -1) ? 'error' : ''">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input ng-model="data.password" type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="field" ng-class="(error.code.indexOf('password') > -1) ? 'error' : ''">
                            <div class="ui left icon input">
                                <i class="repeat icon"></i>
                                <input ng-model="data.confirm" type="password" name="confirm" placeholder="Confirm password">
                            </div>
                        </div>
                        <div ng-click="register()" ng-class="{disabled: !isRegistrationValid()}" class="ui fluid large teal submit button">
                            <i class="icon checkmark"></i>
                        </div>
                        <div class="ui basic segment padding-small text-darken">
                            Already have an account? <a ui-sref="login"><strong>Log In</strong></a>
                        </div>
                    </form>
                </div>
            </div>
            <div ng-if="error" class="ui error message">{{error.message}}</div>
        </div>
    </div>
</div>